{{define "front/single"}}
<!DOCTYPE html>
<html lang="en">
<body>
{{template "front/navigator" .}}
	<!-- /////////////////////////////////////////Content -->
	<div id="page-content" class="single-page">
		<div class="container">
			<div class="row">
				<div id="main-content" class="col-md-8">
                    <input type="hidden" id="media_id" value="{{.media.ID}}">
                   {{with .media}}
                       <!--播放器代码-->
                       <div class="wrap-vid" >
                           <video id="video" class="video-js vjs-default-skin"
                                  controls preload="auto"
                                  style="width: 100%"
                                  height="480"
                                  data-setup="{}"
                                  autoplay
                                  default="low"
                                  dynamicLabel="true"
                                  poster="{{$.coverMap}}{{.Cover}}" >
                               {{range  .MediaAttributes}}
                                       {{if .Uri}}
                                    <source src="{{$.mediaMap}}{{.Uri}}" type='video/mp4' label="{{.Description}}" res="清晰度">
                                               {{end}}
                               {{end}}
                               <p class="vjs-no-js">
                                   To view this video please enable JavaScript, and consider upgrading to a web browser that
                               </p>
                           </video>
                       </div>
                       <div class="line"></div>
                       <h1 class="vid-name"><a href="#">{{.Title}}</a></h1>
					<div class="info">
						<span><i class="fa fa-calendar"></i>{{.CreatedAt | formatDate}}</span>
						<span id="star-btn" class="hand"><i class="fa fa-heart {{if $.hasStared}}red{{end}}"></i><span class="star-count">{{.StarCount}}</span></span>
					</div>
                    <p>每一段视频都是一个值得品味的故事</p>
                    <h4>视频简介</h4>
					<p style="margin-top: 20px">
                        {{.Introduction}}
                    </p>
					<div class="vid-tags">
                        {{range .Categories}}
						<a href="#">{{.Name}}</a>
                                {{end}}
					</div>
                   {{end}}
                    {{if .authUser}}
                    <div>
                        <div class="line"></div>
                        <div class="comment">
						    <h3>发表评论</h3>
                            <div class="row" id="comment-box">
                                <div class="col-md-12">
                                    <input type="hidden" id="parent_id" value="0">
                                    <div class="form-group">
                                        <textarea name="message" id="comment-content" class="form-control" rows="4" cols="10" required="required"
                                        placeholder="你想说啥啊大哥"></textarea>
                                    </div>
                                    <button type="submit" class="btn btn-block btn-primary" name="btnSend" id="comment-submit">
                                发送</button>
                                </div>
                            </div>
                        </div>
					</div>
                    {{end}}
                    <div>
                        <div class="line"></div>
                        <div id="comments">

                        </div>
                        <div >
                            <center id="read-more-comments">
                                查看更多...
                            </center>
                        </div>
                    </div>
				</div>
				<div id="sidebar" class="col-md-4">
					<div class="widget wid-news">
						<div class="heading"><h4><i class="fa fa-clock-o"></i> 新片发布</h4></div>
						<div class="content">
							{{range .newMedias}}
							<div class="wrap-vid" style="text-align: center">
								<div class="zoom-container">

									<div class="zoom-caption" style="text-align: left">
										<span >New</span>
										<a href="/single?id={{.ID}}">
											<i class="fa fa-play-circle-o fa-5x" style="color: #fff"></i>
										</a>
										<p>{{.Title}}</p>
									</div>
									<img class="img-responsive" src="{{$.coverMap}}{{.Cover}}" />

								</div>
								<h3 class="vid-name"><a href="/single?id={{.ID}}">{{.Title}}</a></h3>
								<div class="info">
									<span><i class="fa fa-calendar"></i>{{.CreatedAt | formatDate}}</span>
								</div>
							</div>
							{{end}}
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	{{template "front/footer" .}}
	<!-- Footer -->

	<!-- JS -->
	<script src="/static/owl-carousel/owl.carousel.js"></script>
    <script>
    $(document).ready(function() {
      $("#owl-demo").owlCarousel({
        autoPlay: 3000,
        items : 5,
        itemsDesktop : [1199,4],
        itemsDesktopSmall : [979,4]
      });

    });
    </script>

</body>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="description" content="">
    <meta name="author" content="">

    <title>dawndevil影院</title>

    <!-- Bootstrap Core CSS -->
    <link rel="stylesheet" href="/static/css/bootstrap.min.css"  type="text/css">

    <!-- Custom CSS -->
    <link rel="stylesheet" href="/static/css/style2.css">

    <!-- Owl Carousel Assets -->
    <link href="/static/owl-carousel/owl.carousel.css" rel="stylesheet">
    <link href="/static/owl-carousel/owl.theme.css" rel="stylesheet">
    <!-- video.css -->
    <link rel="stylesheet" href="/static/css/video.css">
    <!-- video-resolution-switcher.css -->
    <link rel="stylesheet" href="/static/css/videojs-resolution-switcher.css">


    <!-- Custom Fonts -->
    <link rel="stylesheet" href="/static/font-awesome-4.4.0/css/font-awesome.min.css"  type="text/css">


    <link rel="stylesheet" href="/static/css/custom.css">
    <script src="/static/js/jquery-2.1.1.js"></script>
    <!--可能是因为版本的问题-->
    <!-- video.js -->
    <script src="/static/js/video.js"></script>
    <!-- video-resolution-switcher.js -->
    <script src="/static/js/videojs-resolution-switcher.js"></script>

    <!-- Core JavaScript Files -->
    <script src="/static/js/bootstrap.min.js"></script>
    <script src="/static/js/html5shiv.js"></script>
    <script src="/static/js/respond.min.js"></script>
    <script src="/static/js/axios.min.js"></script>
    <script src="/static/js/template.js"></script>
    <script src="/static/js/moment.js"></script>
    <script src="/static/js/single.js"></script>


</head>
</html>
{{end}}