img.media-head {
    width : 128px;
    height: 128px;
    margin-top: 5px;
}

img.media-head-small {
    width : 48px;
    height: 48px;
    margin-top:5px;
}

img.user-head {
    width : 128px;
    height: 128px;
    margin-top: 5px;
    border-radius: 50%;
}

img.user-head-small {
    width : 48px;
    height: 48px;
    margin-top: 5px;
    border-radius: 50%;
}

img.user-head-medium {
    width:72px;
    height: 72px;
    margin-top: 5px;
    border-radius: 50%;
}

.category {
    font-size: 1.2em;
    display: inline-block;
    margin-top: 1em;
    margin-left: 5px;
}

p {
    word-break: break-all;
    word-wrap: break-word;
}

.red {
    color:red;
}

.hand {
    cursor: pointer;
}