{{define "ordinarytpl/navigator"}}
<div class="col-md-3 left_col">
<div class="left_col scroll-view">
    <div class="navbar nav_title" style="border: 0;">
        <a href="/ordinary" class="site_title"><i class="fa fa-paw"></i> <span>用户管理</span></a>
    </div>
    <div class="clearfix"></div>
    <!-- menu profile quick info -->
    <div class="profile clearfix">
        <div class="profile_pic">
            <img src="{{.avatarMap}}{{.authUser.Avatar}}" alt="..." class="img-circle profile_img">
        </div>
        <div class="profile_info">
            <span>欢迎你, </span>
            <h2>
                {{if .authUser}}{{.authUser.Username}}{{end}}
            </h2>
        </div>
    </div>
    <!-- /menu profile quick info -->
    <br />

    <!-- sidebar menu -->
    <div id="sidebar-menu" class="main_menu_side hidden-print main_menu">
        <div class="menu_section">
            <h3>General</h3>
            <ul class="nav side-menu">
                <li><a href="/ordinary"><i class="fa fa-cloud"></i> 首页<span class="fa"></span></a>

                </li>
                <li><a><i class="fa fa-user"></i> 用户<span class="fa fa-chevron-down"></span></a>
                    <ul class="nav child_menu">
                        <li><a href="/ordinary/pwd_update">修改密码</a></li>
                        <li><a href="/ordinary/info_update">修改基本信息</a></li>
                        <li><a href="/ordinary/user_record">浏览记录</a></li>
                    </ul>
                </li>

                <li><a href="/ordinary"><i class="fa fa-comment"></i> 评论<span class="fa"></span></a>

            </ul>
        </div>


    </div>
    <!-- /sidebar menu -->

    <!-- /menu footer buttons -->
</div>
</div>
<div class="top_nav">
    <div class="nav_menu">
        <nav>
            <div class="nav toggle">
                <a id="menu_toggle"><i class="fa fa-bars"></i></a>
            </div>

            <ul class="nav navbar-nav navbar-right">
                <li class="">
                    <a href="javascript:;" class="user-profile dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                        <img src="images/img.jpg" alt="">{{if .authUser}}{{.authUser.Username}}{{end}}
                        <span class=" fa fa-angle-down"></span>
                    </a>
                    <ul class="dropdown-menu dropdown-usermenu pull-right">
                        <li><a href="/ordinary/info_update">个人资料</a></li>
                        <li id="logout-btn"><a href="javascript:void(0);" ><i class="fa fa-sign-out pull-right"></i> 注销</a></li>
                        <form action="/logout" method="POST" id="logout-form"></form>
                        <script type="text/javascript">
                            document.getElementById("logout-btn").onclick = function (e) {
                              document.getElementById("logout-form").submit();
                            };
                        </script>
                    </ul>
                </li>

            </ul>
        </nav>
    </div>
</div>
{{end}}